flows-nod_reAd.json
[
  {
    "id": "10fe63cc3c5a6289",
    "type": "tab",
    "label": "Primary",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "074eaf17a2f35c7a",
    "type": "tab",
    "label": "Functions",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "0babe6022f846057",
    "type": "tab",
    "label": "endPoint",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "eca78042c43f1ea4",
    "type": "tab",
    "label": "Cookies",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d451d4b77f6bba49",
    "type": "json-db-collection",
    "name": "Users",
    "collection": "Users",
    "save": true
  },
  {
    "id": "f104cd401a390bc5",
    "type": "json-db-collection",
    "name": "followers",
    "collection": "Followers",
    "save": true
  },
  {
    "id": "22fcf1ef.a1e34e",
    "type": "tls-config",
    "name": "",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "ttt.cer",
    "servername": "",
    "verifyservercert": false
  },
  {
    "id": "796a76165e349e08",
    "type": "inject",
    "z": "074eaf17a2f35c7a",
    "name": "Записати ",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 900,
    "y": 640,
    "wires": [
      [
        "7316fa56bccdc2be"
      ]
    ]
  },
  {
    "id": "1e864dd87b5dfd31",
    "type": "debug",
    "z": "074eaf17a2f35c7a",
    "name": "Показати Store",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1240,
    "y": 600,
    "wires": []
  },
  {
    "id": "fa8a3eac8f3621c1",
    "type": "inject",
    "z": "074eaf17a2f35c7a",
    "name": "Показати Стор",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 920,
    "y": 600,
    "wires": [
      [
        "44c0028d804a4318"
      ]
    ]
  },
  {
    "id": "7316fa56bccdc2be",
    "type": "function",
    "z": "074eaf17a2f35c7a",
    "name": "users",
    "func": "msg.payload = {\n    users: [\n        {\n            id: 1,\n            name: 'SysMaaster',\n            sex: 'male',\n            followed: true,\n            status: 'Im a BOSS !!',\n             dateOfBrith : {  dd : '11', mm :  '09', yy : '1995' }  ,\n            locations : {country: 'Україна', city: 'Хмельницький'},\n            photoUrl: {small: 'https://www.w3schools.com/howto/img_avatar.png', large: 'https://vsememy.ru/wp-content/uploads/2022/07/47505354e867c091338ec953ae97748c-300x300.jpg'},\n            aboutMe: 'Full Stack Developer',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' Jun React Dev',\n            AJobDescription: ' a looking Job React Dev ',\n            followers  :  [ 1, 2 , 8] ,\n            contact : {\n                website: null,\n                mainLink: 'main nav LINK'\n            }\n        },\n        {\n            id: 2,\n            name: 'Таращук Анастасія Андріївна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n            aboutMe: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Одеса'},\n            photoUrl: {small: null, large: null},\n            lookingForAJob: true,\n            lookingForAJobDescription: ' ',\n            isHaveAJob: false,\n            AJobDescription: '',\n            followers  :  [1, 8 ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 3,\n            name: 'Крамарчук Анатолій Іванович ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Дніпро'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 4,\n            name: 'Шевчук Олександра Анатоліївна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Донецьк'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ 1 ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 5,\n            name: 'Кравчук Микола Євгенійович ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Запоріжжя'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 6,\n            name: 'Романович Василенко Валерій ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Львов'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 7,\n            name: 'Іванченко Тетяна Сергіївна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Кривой Рог'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ 8 ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 8,\n            name: 'Бондаренко Леонід Євгенович ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Миколаїв'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ 8 ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 9,\n            name: 'Сергієнко Тетяна Олександрівна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Севастополь'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 10,\n            name: 'Захарчук Владислав Тарасович ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Маріуполь'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ 8 ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 11,\n            name: 'Іванович Романченко Валерій ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Луганськ'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 12,\n            name: 'Мельниченко Анатолій Янович ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Вінниця'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 13,\n            name: 'Романченко Вікторія Анатоліївна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Симферополь'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 14,\n            name: 'Олександрівна Мельниченко Людмила ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Маківка'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 15,\n            name: 'Михайлівна Іванченко Ярослава ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Херсон'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 16,\n            name: 'Васильович Сергієнко Георгій ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Чернігова'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 17,\n            name: 'Бровар Єлизавета Михайлівна ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Полтава'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 18,\n            name: 'Павлюк Алла Миколаївна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Черкассы'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 19,\n            name: 'Бровар Анатолій Миколайович ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Хмельницкий'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 20,\n            name: 'Йосипович Васильєв Володимир ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Черновцы'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 21,\n            name: 'Миколаївна Пономаренко Олександра ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Житомир'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 22,\n            name: 'Броваренко Віра Василівна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Сумы'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 23,\n            name: 'Броварку Володимир Йосипович ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Рівне'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 24,\n            name: 'Броваренко Галина Іванівна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Горлівка'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 25,\n            name: 'Федорівна Шевченко Раїса ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Вано-Франкова'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 26,\n            name: 'Лисенко Валентина Іванівна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Каменської'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 27,\n            name: 'Романівна Броваренко Вікторія ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Кропивницкий'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 28,\n            name: 'Броварку Йосип Васильович ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Тернопіль'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 29,\n            name: 'Мірошниченко Віталій Янович ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Кременчук'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 30,\n            name: 'Євгенійович Гнатюк Вадим ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Луцьк'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 31,\n            name: 'Сергієнко Ілля Євгенович ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Біла Церков'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: 'Україна'\n            }\n        },\n        {\n            id: 32,\n            name: 'Середа Ольга Євгеніївна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Краматорськ'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 33,\n            name: 'Іванченко Дарія Федорівна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Мели тополь'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 34,\n            name: 'Лисенко Вікторія Валентинівна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Керч'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 35,\n            name: 'Пономаренко Анатолій Євгенович ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Ужгород'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 36,\n            name: 'Романченко Борис Володимирович ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Бердянськ'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 37,\n            name: 'Середа Борис Євгенійович ',\n            sex: 'male',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Нікополь'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 38,\n            name: 'Василенко Людмила Іванівна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Славляться'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 39,\n            name: 'Василенко Наташа Сергіївна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Евпатрид'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 40,\n            name: 'Гнатюк Катерина Євгеніївна ',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: 'Бровары'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: false,\n            isHaveAJob: true,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        },\n        {\n            id: 41,\n            name: 'Jcnfyz Vfhsq',\n            sex: 'female',\n            followed: false,\n            status: '',\n             dateOfBrith : {  dd : '', mm :  '', yy : '' }  ,\n            locations : {country: 'Україна', city: ',jkjnj'},\n            photoUrl: {small: null, large: null},\n            aboutMe: '',\n            lookingForAJob: true,\n            isHaveAJob: false,\n            lookingForAJobDescription: ' ',\n            AJobDescription: '',\n             followers  :  [ ] ,\n            contact  : {\n                website: null,\n                mainLink: ''\n            }\n        }\n\n    ]\n    \n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1090,
    "y": 640,
    "wires": [
      [
        "3573924129e70926"
      ]
    ]
  },
  {
    "id": "e61c25089eaf3433",
    "type": "debug",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 470,
    "y": 280,
    "wires": []
  },
  {
    "id": "3573924129e70926",
    "type": "DataIn",
    "z": "074eaf17a2f35c7a",
    "collection": "d451d4b77f6bba49",
    "name": "Users",
    "update": false,
    "path": "/",
    "x": 1250,
    "y": 640,
    "wires": []
  },
  {
    "id": "44c0028d804a4318",
    "type": "DataOut",
    "z": "074eaf17a2f35c7a",
    "collection": "d451d4b77f6bba49",
    "name": "",
    "path": "/",
    "error": false,
    "x": 1070,
    "y": 580,
    "wires": [
      [
        "1e864dd87b5dfd31"
      ]
    ]
  },
  {
    "id": "72b71930a7349817",
    "type": "debug",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 470,
    "y": 320,
    "wires": []
  },
  {
    "id": "b5c4ac499c6794b3",
    "type": "json",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "property": "payload",
    "action": "str",
    "pretty": true,
    "x": 1210,
    "y": 560,
    "wires": [
      [
        "00d92f52b43d910b"
      ]
    ]
  },
  {
    "id": "00d92f52b43d910b",
    "type": "file",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "filename": "stored.json",
    "appendNewline": true,
    "createDir": false,
    "overwriteFile": "true",
    "encoding": "utf8",
    "x": 1290,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "9d13330b57df8dd4",
    "type": "http in",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "url": "/users",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 40,
    "wires": [
      [
        "d43f0f3adb35ef2d"
      ]
    ]
  },
  {
    "id": "8ef716ec27a63fe6",
    "type": "http in",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "url": "/profile/:id",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 100,
    "y": 80,
    "wires": [
      [
        "d43f0f3adb35ef2d"
      ]
    ]
  },
  {
    "id": "f288f452b6a5242f",
    "type": "http in",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "url": "auth/me",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 90,
    "y": 220,
    "wires": [
      [
        "210878da1999bebe"
      ]
    ]
  },
  {
    "id": "e51de33da5dbab1b",
    "type": "comment",
    "z": "074eaf17a2f35c7a",
    "name": "зроби!",
    "info": "",
    "x": 70,
    "y": 200,
    "wires": []
  },
  {
    "id": "cab738d1b2a39e4c",
    "type": "http in",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "url": "/follow/:userId",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 110,
    "y": 120,
    "wires": [
      [
        "d43f0f3adb35ef2d"
      ]
    ]
  },
  {
    "id": "fcdb9ac5da3b952a",
    "type": "inject",
    "z": "074eaf17a2f35c7a",
    "name": "tested Post follow 2",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 300,
    "wires": [
      [
        "d21d3cae97df9479"
      ]
    ]
  },
  {
    "id": "d21d3cae97df9479",
    "type": "http request",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.3.66:1880/follow/2",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 310,
    "y": 300,
    "wires": [
      [
        "72b71930a7349817"
      ]
    ]
  },
  {
    "id": "186bd601148c9599",
    "type": "http response",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1350,
    "y": 300,
    "wires": []
  },
  {
    "id": "899d5a52416ab615",
    "type": "debug",
    "z": "074eaf17a2f35c7a",
    "name": "ответ по Запросу",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1290,
    "y": 360,
    "wires": []
  },
  {
    "id": "0eb42ac87e6d23d6",
    "type": "link in",
    "z": "074eaf17a2f35c7a",
    "name": "/OUT",
    "links": [
      "3dcb8432811002f3",
      "031d59853ad9ab59",
      "98a70e8b3f6afda6",
      "93d46236d118a1b6",
      "9692ad534b1c374c"
    ],
    "x": 995,
    "y": 300,
    "wires": [
      [
        "91145522d2664425"
      ]
    ]
  },
  {
    "id": "91145522d2664425",
    "type": "delay",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "pauseType": "delay",
    "timeout": "500",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1150,
    "y": 300,
    "wires": [
      [
        "186bd601148c9599",
        "899d5a52416ab615"
      ]
    ]
  },
  {
    "id": "f9075c5e924a7636",
    "type": "http in",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "url": "/follow/:userId",
    "method": "delete",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 160,
    "wires": [
      [
        "d43f0f3adb35ef2d"
      ]
    ]
  },
  {
    "id": "5f9f90357a65dbdd",
    "type": "inject",
    "z": "074eaf17a2f35c7a",
    "name": "tested delet follow 2",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 340,
    "wires": [
      [
        "6f3528c47e6536ee"
      ]
    ]
  },
  {
    "id": "6f3528c47e6536ee",
    "type": "http request",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "method": "DELETE",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.3.66:1880/follow/2",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 310,
    "y": 340,
    "wires": [
      [
        "72b71930a7349817"
      ]
    ]
  },
  {
    "id": "210878da1999bebe",
    "type": "link out",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "mode": "link",
    "links": [
      "856baaa3cb3b0945",
      "7eedd351fef76bec"
    ],
    "x": 215,
    "y": 220,
    "wires": []
  },
  {
    "id": "d43f0f3adb35ef2d",
    "type": "link out",
    "z": "074eaf17a2f35c7a",
    "name": "",
    "mode": "link",
    "links": [
      "e761612c4ccf8ea5"
    ],
    "x": 275,
    "y": 80,
    "wires": []
  },
  {
    "id": "8d77cf8b5e81c05b",
    "type": "DataIn",
    "z": "074eaf17a2f35c7a",
    "collection": "f104cd401a390bc5",
    "name": "Followers",
    "update": false,
    "path": "/",
    "x": 1260,
    "y": 680,
    "wires": []
  },
  {
    "id": "fb1e22ae535b2064",
    "type": "inject",
    "z": "074eaf17a2f35c7a",
    "name": "Записати ",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 900,
    "y": 680,
    "wires": [
      [
        "70d8fc9e9139d869"
      ]
    ]
  },
  {
    "id": "70d8fc9e9139d869",
    "type": "function",
    "z": "074eaf17a2f35c7a",
    "name": "users",
    "func": "msg.payload = {\n    followers: [\n        {date: '', id : 1, followId : 2},\n        {date: '', id : 1, followId : 2}\n        ]\n    \n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1090,
    "y": 680,
    "wires": [
      [
        "8d77cf8b5e81c05b"
      ]
    ]
  },
  {
    "id": "191d032e8609cfc6",
    "type": "switch",
    "z": "0babe6022f846057",
    "name": "req_method",
    "property": "req_method",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "GET",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "POST",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "DELETE",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": true,
    "outputs": 3,
    "x": 490,
    "y": 180,
    "wires": [
      [
        "7b01e993ab47f336"
      ],
      [
        "34c02901bc8f0fd2"
      ],
      [
        "daefba0ba17e5222"
      ]
    ]
  },
  {
    "id": "6e91add8b111fd8a",
    "type": "change",
    "z": "0babe6022f846057",
    "name": "request",
    "rules": [
      {
        "t": "set",
        "p": "req_method",
        "pt": "msg",
        "to": "req.method",
        "tot": "msg"
      },
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "reqes",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "req_url",
        "pt": "msg",
        "to": "req._parsedUrl.pathname",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "req_params_id",
        "pt": "msg",
        "to": "req.params.id",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "req_cookies",
        "pt": "msg",
        "to": "req.cookies",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 140,
    "y": 180,
    "wires": [
      [
        "191d032e8609cfc6",
        "ce5d6e0ddfaab4b1",
        "98c3f219b0063581"
      ]
    ]
  },
  {
    "id": "7b01e993ab47f336",
    "type": "switch",
    "z": "0babe6022f846057",
    "name": "GET метод",
    "property": "req_url",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "/users",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "/profile",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "/follow",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 670,
    "y": 60,
    "wires": [
      [
        "f644ac14eec6b3b7"
      ],
      [
        "0e4d364d0cf8243d"
      ],
      [
        "e78a422fb6250ac7"
      ]
    ],
    "icon": "font-awesome/fa-arrow-right"
  },
  {
    "id": "34c02901bc8f0fd2",
    "type": "switch",
    "z": "0babe6022f846057",
    "name": "POST метод",
    "property": "req_url",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "/users",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "/profile",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "/follow",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 670,
    "y": 180,
    "wires": [
      [
        "874883a1b658be93"
      ],
      [
        "421da7103eb56155"
      ],
      [
        "b35a7fc3efa3df87"
      ]
    ],
    "icon": "font-awesome/fa-arrow-up"
  },
  {
    "id": "daefba0ba17e5222",
    "type": "switch",
    "z": "0babe6022f846057",
    "name": "DELETE метод",
    "property": "req_url",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "/users",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "/profile",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "/follow",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 660,
    "y": 300,
    "wires": [
      [
        "8c0f9a2da928079a"
      ],
      [
        "522503365ff81ea4"
      ],
      [
        "343508c39a0fea9b"
      ]
    ],
    "icon": "font-awesome/fa-ban"
  },
  {
    "id": "e78a422fb6250ac7",
    "type": "link out",
    "z": "0babe6022f846057",
    "name": "",
    "mode": "link",
    "links": [],
    "x": 795,
    "y": 100,
    "wires": []
  },
  {
    "id": "874883a1b658be93",
    "type": "link out",
    "z": "0babe6022f846057",
    "name": "",
    "mode": "link",
    "links": [],
    "x": 795,
    "y": 140,
    "wires": []
  },
  {
    "id": "421da7103eb56155",
    "type": "link out",
    "z": "0babe6022f846057",
    "name": "",
    "mode": "link",
    "links": [],
    "x": 795,
    "y": 180,
    "wires": []
  },
  {
    "id": "8c0f9a2da928079a",
    "type": "link out",
    "z": "0babe6022f846057",
    "name": "",
    "mode": "link",
    "links": [],
    "x": 795,
    "y": 260,
    "wires": []
  },
  {
    "id": "522503365ff81ea4",
    "type": "link out",
    "z": "0babe6022f846057",
    "name": "",
    "mode": "link",
    "links": [],
    "x": 795,
    "y": 300,
    "wires": []
  },
  {
    "id": "e761612c4ccf8ea5",
    "type": "link in",
    "z": "0babe6022f846057",
    "name": "Req IN",
    "links": [
      "d43f0f3adb35ef2d"
    ],
    "x": 65,
    "y": 100,
    "wires": [
      [
        "6e91add8b111fd8a"
      ]
    ]
  },
  {
    "id": "98c3f219b0063581",
    "type": "DataOut",
    "z": "0babe6022f846057",
    "collection": "d451d4b77f6bba49",
    "name": "Users",
    "path": "/",
    "error": false,
    "x": 310,
    "y": 60,
    "wires": [
      [
        "528a8927272a2d00"
      ]
    ]
  },
  {
    "id": "ce5d6e0ddfaab4b1",
    "type": "DataOut",
    "z": "0babe6022f846057",
    "collection": "f104cd401a390bc5",
    "name": "Follovers",
    "path": "/",
    "error": false,
    "x": 320,
    "y": 120,
    "wires": [
      [
        "b0a0c1ec854e19cd"
      ]
    ]
  },
  {
    "id": "528a8927272a2d00",
    "type": "change",
    "z": "0babe6022f846057",
    "name": "storeMove",
    "rules": [
      {
        "t": "set",
        "p": "users",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "b0a0c1ec854e19cd",
    "type": "change",
    "z": "0babe6022f846057",
    "name": "storeMove",
    "rules": [
      {
        "t": "set",
        "p": "followers",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "f644ac14eec6b3b7",
    "type": "function",
    "z": "0babe6022f846057",
    "name": "Get List users",
    "func": "let err = { is:false, const:''} // ініціалізуєм строку помилок\n    let pageNum = 1;\n    let count = 10;\n    let num;\n    let Num;\n    let store = {...flow.get('users'),...flow.get('followers')}\n\n    if (typeof msg.reqes.count === 'string') {   // нам прийшов параметр?да - ідем далі\n        num = Number(msg.reqes.count);           // конвертує рядок в число\n        if (isNaN(num) || num === 0) {           //ми отримали число?да - пропустим крок\n            count = 10\n            err= { is:true, const:'count:Type_No_Number'}//нам прийшла не цифра\n        } else { count = num }// все добре йдем далі\n    } else {\n        count = 10\n        err= { is:true, const:'count:undefined'} // не прийшов параметр\n    }\n    if (typeof msg.reqes.page === 'string') {   // нам прийшов параметр?да - ідем далі\n        Num = Number(msg.reqes.page);           // конвертує рядок в число\n        if (isNaN(Num) || Num === 0) {          //ми отримали число?да - пропустим крок\n            pageNum = 1\n            err = { is:true, const:'pageNum:Type_No_Number'}//нам прийшла не цифра\n        } else { pageNum = Num } // все добре йдем далі\n    }\n    else {\n        pageNum = 1\n        err= { is:true, const:'pageNum:undefined'}          // не прийшов параметр\n    }\n    let totalCount = store.users.length;      //загальна кількість елементів\n    let Pages =  Math.ceil(totalCount / count);         // кількість наявних сторінок\n    if ( pageNum> Pages){ pageNum = Pages }  // параметр запиту не є більший за доступну?\n    if ( count >= 10){  count = 10 }         // обмежуєм максимальну кількість виводу клкментів\n    let endPoints = (count ) * pageNum;      //рахуєм кінцеву точку в масиві\n    let startPoints = endPoints - count ;    // рахуєм початкову точку\n\n//повернумо кількість slice(від , по) з масиву користувачів\n    msg.payload = { item: store.users.slice(startPoints,endPoints)  , totalCount, onErrors: err}\n    return msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 20,
    "wires": [
      [
        "98a70e8b3f6afda6"
      ]
    ],
    "icon": "font-awesome/fa-list-ol"
  },
  {
    "id": "0e4d364d0cf8243d",
    "type": "function",
    "z": "0babe6022f846057",
    "name": " Get usersPage",
    "func": " let err = { is:false, const:''}// ініціалізуєм строку помилок\n    let num\n    let item = {}\n    let store = {...flow.get('users'),...flow.get('followers')}\n\n    if (typeof msg.req_params_id === 'string') {// нам прийшов параметр?да - ідем далі\n        num = Number(msg.req_params_id); // конвертує рядок в число\n        if (isNaN(num) || num === 0) { //ми отримали число?да - пропустим крок\n            err= { is:true, const:'id:Type_No_Number'}//нам прийшла не цифра\n        }\n        else {\n            if (num > store.users.length) { // перевірка що запит не більший кількості users\n                err = {is: true, const: 'id:noResult'}//  запит перевищує кількість users\n            }else {\n                 store.users.map(i => {\n                        if (i.id === num) {     // знайшли то повертаєм користувача\n                            return (item = {...i})\n                        }\n                    }\n                )\n            }\n        }\n    } else {// не прийшов параметр\n        err= { is:true, const:'id:undefined'}// формую помилку та шаблон для відповіді\n    }\n    msg.payload =  { onErr : {...err}, item }\n    return msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 60,
    "wires": [
      [
        "98a70e8b3f6afda6"
      ]
    ]
  },
  {
    "id": "98a70e8b3f6afda6",
    "type": "link out",
    "z": "0babe6022f846057",
    "name": "",
    "mode": "link",
    "links": [
      "0eb42ac87e6d23d6"
    ],
    "x": 1235,
    "y": 40,
    "wires": []
  },
  {
    "id": "b35a7fc3efa3df87",
    "type": "function",
    "z": "0babe6022f846057",
    "name": "POST Follow",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 220,
    "wires": [
      [
        "7046d65b1f1870ac",
        "23deeb4cf6e128a5"
      ]
    ]
  },
  {
    "id": "343508c39a0fea9b",
    "type": "function",
    "z": "0babe6022f846057",
    "name": "DELETE Follow",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 340,
    "wires": [
      [
        "23deeb4cf6e128a5",
        "7046d65b1f1870ac"
      ]
    ]
  },
  {
    "id": "23deeb4cf6e128a5",
    "type": "function",
    "z": "0babe6022f846057",
    "name": "",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1180,
    "y": 260,
    "wires": [
      [
        "98a70e8b3f6afda6"
      ]
    ]
  },
  {
    "id": "7046d65b1f1870ac",
    "type": "DataIn",
    "z": "0babe6022f846057",
    "collection": "f104cd401a390bc5",
    "name": "",
    "update": false,
    "path": "/",
    "x": 1170,
    "y": 300,
    "wires": []
  },
  {
    "id": "a162cf3c914422df",
    "type": "function",
    "z": "0babe6022f846057",
    "name": "Auth Token",
    "func": "\nmsg.payload = { \n    resuldCode : 0,\n    messages : [],\n    data : {\n        id: 8,\n\t    email:  'sasa@sasa.com',\n    \tlogin:  'saSa',\n    \trefleshToken: 'encrypted'\n    \t\n    }\n}\nmsg.cookies = { \"demo-66\" : '809065ea7902b2e76e72aead4db36e54'};\nmsg.statusCode = 200\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 380,
    "wires": [
      [
        "9692ad534b1c374c"
      ]
    ]
  },
  {
    "id": "9692ad534b1c374c",
    "type": "link out",
    "z": "0babe6022f846057",
    "name": "",
    "mode": "link",
    "links": [
      "0eb42ac87e6d23d6"
    ],
    "x": 985,
    "y": 380,
    "wires": []
  },
  {
    "id": "7eedd351fef76bec",
    "type": "link in",
    "z": "0babe6022f846057",
    "name": "Auth Token",
    "links": [
      "210878da1999bebe"
    ],
    "x": 745,
    "y": 380,
    "wires": [
      [
        "a162cf3c914422df"
      ]
    ]
  },
  {
    "id": "1d03ffaf4e5d4cb8",
    "type": "function",
    "z": "0babe6022f846057",
    "name": "",
    "func": "\nlet store = {...flow.get('users'),...flow.get('followers')}\n\nmsg.payload = store\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 700,
    "wires": [
      [
        "8ce1de1508201e2b"
      ]
    ]
  },
  {
    "id": "8ce1de1508201e2b",
    "type": "debug",
    "z": "0babe6022f846057",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 450,
    "y": 700,
    "wires": []
  },
  {
    "id": "207f3f589e90e6bb",
    "type": "inject",
    "z": "0babe6022f846057",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 700,
    "wires": [
      [
        "1d03ffaf4e5d4cb8"
      ]
    ]
  },
  {
    "id": "c362b989.954ae8",
    "type": "http in",
    "z": "eca78042c43f1ea4",
    "name": "",
    "url": "/hello-cookie",
    "method": "get",
    "swaggerDoc": "",
    "x": 200,
    "y": 180,
    "wires": [
      [
        "21ddf71f.d00518",
        "4130f3becd60a2e6"
      ]
    ]
  },
  {
    "id": "21ddf71f.d00518",
    "type": "function",
    "z": "eca78042c43f1ea4",
    "name": "Format cookies",
    "func": "msg.payload = JSON.stringify(msg.req.cookies,null,4);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 180,
    "wires": [
      [
        "f3aa98c1.befc18"
      ]
    ]
  },
  {
    "id": "f3aa98c1.befc18",
    "type": "template",
    "z": "eca78042c43f1ea4",
    "name": "page",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<html>\n    <head></head>\n    <body>\n        <h1>Cookies</h1>\n        <p></p><a href=\"hello-cookie/add\">Add a cookie</a> &bull; <a href=\"hello-cookie/clear\">Clear cookies</a></p>\n        <pre>{{ payload }}</pre>\n    </body>\n</html>",
    "x": 600,
    "y": 180,
    "wires": [
      [
        "f52e2880.180968"
      ]
    ]
  },
  {
    "id": "f52e2880.180968",
    "type": "http response",
    "z": "eca78042c43f1ea4",
    "name": "",
    "x": 820,
    "y": 180,
    "wires": []
  },
  {
    "id": "9a2a9a4.0fc0768",
    "type": "change",
    "z": "eca78042c43f1ea4",
    "name": "Redirect to /hello-cookie",
    "rules": [
      {
        "t": "set",
        "p": "statusCode",
        "pt": "msg",
        "to": "302",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "headers",
        "pt": "msg",
        "to": "{}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "headers.location",
        "pt": "msg",
        "to": "/hello-cookie",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 240,
    "wires": [
      [
        "f52e2880.180968"
      ]
    ]
  },
  {
    "id": "afefb90.53dcf48",
    "type": "function",
    "z": "eca78042c43f1ea4",
    "name": "Add a cookie",
    "func": "msg.cookies = { };\nmsg.cookies[\"demo-\"+(Math.floor(Math.random()*1000))] = Date.now();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 220,
    "wires": [
      [
        "9a2a9a4.0fc0768"
      ]
    ]
  },
  {
    "id": "d5205a2c.db9018",
    "type": "function",
    "z": "eca78042c43f1ea4",
    "name": "Clear cookies",
    "func": "// Find demo cookies and clear them\nvar cookieNames = Object.keys(msg.req.cookies).filter(function(cookieName) { return /^demo-/.test(cookieName);});\nmsg.cookies = {};\n\ncookieNames.forEach(function(cookieName) {\n    msg.cookies[cookieName] = null;\n});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 260,
    "wires": [
      [
        "9a2a9a4.0fc0768"
      ]
    ]
  },
  {
    "id": "fda60c66.04975",
    "type": "http in",
    "z": "eca78042c43f1ea4",
    "name": "",
    "url": "/hello-cookie/add",
    "method": "get",
    "swaggerDoc": "",
    "x": 210,
    "y": 220,
    "wires": [
      [
        "afefb90.53dcf48"
      ]
    ]
  },
  {
    "id": "35285a76.1f8636",
    "type": "http in",
    "z": "eca78042c43f1ea4",
    "name": "",
    "url": "/hello-cookie/clear",
    "method": "get",
    "swaggerDoc": "",
    "x": 210,
    "y": 260,
    "wires": [
      [
        "d5205a2c.db9018"
      ]
    ]
  },
  {
    "id": "4130f3becd60a2e6",
    "type": "debug",
    "z": "eca78042c43f1ea4",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 390,
    "y": 140,
    "wires": []
  },
  {
    "id": "2eb8619192ef7926",
    "type": "inject",
    "z": "eca78042c43f1ea4",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 380,
    "wires": [
      [
        "c0ffc9bff1f50a9d"
      ]
    ]
  },
  {
    "id": "c0ffc9bff1f50a9d",
    "type": "function",
    "z": "eca78042c43f1ea4",
    "name": "",
    "func": "let cooc = []; \ncooc[\"demo-66\"] = '1';\n\nmsg.payload = cooc[\"demo-66\"]\nmsg.key = '809065ea7902b2e76e72aead4db36e54'\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 380,
    "wires": [
      [
        "34a05941f3580d13",
        "ea40a576496eb1d0"
      ]
    ]
  },
  {
    "id": "94ead62453ae6ec0",
    "type": "debug",
    "z": "eca78042c43f1ea4",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 380,
    "wires": []
  },
  {
    "id": "a7b23fcd21b608db",
    "type": "debug",
    "z": "eca78042c43f1ea4",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 440,
    "wires": []
  },
  {
    "id": "34a05941f3580d13",
    "type": "debug",
    "z": "eca78042c43f1ea4",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 390,
    "y": 440,
    "wires": []
  },
  {
    "id": "ea40a576496eb1d0",
    "type": "encrypt",
    "z": "eca78042c43f1ea4",
    "name": "",
    "algorithm": "RC4",
    "key": "809065ea7902b2e76e72aead4db36e54",
    "x": 540,
    "y": 380,
    "wires": [
      [
        "94ead62453ae6ec0",
        "be7f3a80b77fe06c"
      ]
    ]
  },
  {
    "id": "be7f3a80b77fe06c",
    "type": "decrypt",
    "z": "eca78042c43f1ea4",
    "name": "",
    "algorithm": "RC4",
    "key": "809065ea7902b2e76e72aead4db36e54",
    "x": 600,
    "y": 440,
    "wires": [
      [
        "a7b23fcd21b608db"
      ]
    ]
  }
]